Connected Services/ServiceReferenceDNNJuliusForm/ServiceTest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceTest" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50903/ServiceTest.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50903/ServiceTest.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50903/ServiceTest.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Test.Service.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceTest_GuardarDNNJuliusForm_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarDNNJuliusForm" />
  </wsdl:message>
  <wsdl:message name="IServiceTest_GuardarDNNJuliusForm_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarDNNJuliusFormResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTest_GuardarDNNJuliusFormArchivo_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarDNNJuliusFormArchivo" />
  </wsdl:message>
  <wsdl:message name="IServiceTest_GuardarDNNJuliusFormArchivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarDNNJuliusFormArchivoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceTest">
    <wsdl:operation name="GuardarDNNJuliusForm">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTest/GuardarDNNJuliusForm" message="tns:IServiceTest_GuardarDNNJuliusForm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTest/GuardarDNNJuliusFormResponse" message="tns:IServiceTest_GuardarDNNJuliusForm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarDNNJuliusFormArchivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTest/GuardarDNNJuliusFormArchivo" message="tns:IServiceTest_GuardarDNNJuliusFormArchivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTest/GuardarDNNJuliusFormArchivoResponse" message="tns:IServiceTest_GuardarDNNJuliusFormArchivo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceTest" type="tns:IServiceTest">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarDNNJuliusForm">
      <soap:operation soapAction="http://tempuri.org/IServiceTest/GuardarDNNJuliusForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarDNNJuliusFormArchivo">
      <soap:operation soapAction="http://tempuri.org/IServiceTest/GuardarDNNJuliusFormArchivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceTest">
    <wsdl:port name="BasicHttpBinding_IServiceTest" binding="tns:BasicHttpBinding_IServiceTest">
      <soap:address location="http://localhost:50903/ServiceTest.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>